.container {
    max-width: 345px;
    margin: 0 auto;
    display: flex;
}

.MuiCardMedia-root {
    object-fit: cover;
}

.MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
